
body {
    background-color: rgb(0, 0, 0);
}

.title {
    color: green;
}

header {
    background-color: rgb(81, 94, 108);
    border-bottom-width: 4px;
    border-bottom-style: double;
    border-bottom-color: rgb(79, 196, 199);;
    margin: -9px -7px;
}

section.topBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

section.topBar aside {
    order: 1;
}

section.topBar nav.topBarTitle {
    background-color: rgb(79, 196, 199);
    text-align: center; /* text */
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: bolder;
    padding: 7px 5px;
    border-width: 20px;
    border-block-width: 2px;
    border-radius: 2em;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 5px 6px;
}

section.topBar nav.topBarTitle:hover {
    background-color: rgb(49, 114, 115);
    color: rgb(33, 36, 37);
    cursor: pointer;
}

section.topBar section {
    order: 2;
    display: flex;
    height: 120px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

section.topBar section > nav a {
    display: block; /* how the details are shown */
    background-color: rgb(64, 141, 143); /* background */
    text-align: center; /* text */
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 1px 7px; /* text spacing */
    border-radius: 1em; /* border */
    border-style: double;
    border-color: rgb(42, 46, 50);
    margin: 2px 2px; /* outside spacing */
    position: relative; /* outside positioning */
}

section.topBar section nav a:hover {
    background-color: rgb(49, 114, 115);
    color: rgb(33, 36, 37);
}

div.TextBox {
    background-color: rgb(81, 94, 108);
    padding: 1px 7px;
    border-radius: 1em;
    border-style: double;
    border-color: rgb(79, 196, 199);
    height: min-content;
    margin: 21px 2px;
}

div.TextBoxTitle {
    color: rgb(79, 196, 199);
    font-size: 1.5em;
    font-weight: bold;
    border-block-end-style: solid;
    width: max-content;
    height: 81px;
    padding: 1px 25px;
    text-align: center;
}

#TBTpage1 {
    margin: 1px 45%;
}

#TBTpage2 {
    margin: 1px 41.3%;
}

#TBTpage3 {
    margin: 1px 42.6%;
}

div.TextBoxLeft {
    color: antiquewhite;
    font-size: 20px;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-right: dashed;
    border-color: rgb(79, 196, 199);
    margin-left: 7.5%;
}

div.TextBoxRight {
    color: antiquewhite;
    font-size: 20px;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-left: dashed;
    border-color: rgb(79, 196, 199);
    margin-left: 51.47%;
}

div.TextBoxMiddle {
    color: antiquewhite;
    font-size: 20px;

    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-bottom: dashed;
    border-color: rgb(79, 196, 199);
}

@media (max-width: 700px) {
        

}

