
body {
    background-color: rgba(58, 112, 141, 0.89);
    overflow-wrap: anywhere;
}

a {
    color: black;
}

.title {
    color: green;
}

header {
    background-color: rgb(30, 40, 51);
    border-bottom-width: 4px;
    border-bottom-style: double;
    border-bottom-color: rgb(0, 0, 0);;
    margin: -9px -7px;
}

section.topBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

section.topBar aside {
    order: 1;
}

section.topBar nav.topBarTitle {
    background-color: rgb(76, 171, 173);
    text-align: center; /* text */
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: bolder;
    padding: 7px 5px;
    border-width: 20px;
    border-block-width: 2px;
    border-radius: 2em;
    border-style: solid;
    border-color: rgb(81, 94, 108);
    margin: 5px 6px;
}

section.topBar nav.topBarTitle:hover {
    background-color: rgb(49, 114, 115);
    color: rgb(33, 36, 37);
    cursor: pointer;
}

section.topBar section {
    order: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    width: fit-content;
}

section.topBar section > nav a {
    display: block; /* how the details are shown */
    background-color: rgb(64, 141, 143); /* background */
    text-align: center; /* text */
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 1px 7px; /* text spacing */
    border-radius: 1em; /* border */
    border-style: double;
    border-color: rgb(42, 46, 50);
    margin: 2px 2px; /* outside spacing */
    position: relative; /* outside positioning */
}

section.topBar section nav a:hover {
    background-color: rgb(58, 95, 95);
    color: rgb(122, 140, 145);
}

div.TextBox {
    background-color: rgb(81, 94, 108);
    padding: 10px 40px;
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(9, 12, 13);
    height: min-content;
    margin: 21px 2px;
}

div.TextBoxTitle {
    color: rgb(79, 196, 199);
    font-size: 1.5em;
    font-weight: bold;
    border-block-end-style: solid;
    width: max-content;
    height: 81px;
    padding: 1px 25px;
    text-align: center;
}

div.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.TextBoxLeft {
    color: antiquewhite;
    font-size: 20px;
    width: 40%;
    padding-right: 2.25%;
    text-align: center;
    border-right: dashed;
    border-color: rgb(79, 196, 199);
    margin-left: 7.5%;
}

div.TextBoxleft img {
    float: left;
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 330px;
    padding-top: 70px;
    border: dashed;
    border-color:antiquewhite;
}

div.TextBoxRight {
    color: antiquewhite;
    font-size: 20px;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-left: dashed;
    border-color: rgb(79, 196, 199);
    margin-left: 49.8%;
}

div.TextBoxRight img {
    float: right;
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 330px;
    padding-top: 70px;
}

div.TextBoxMiddle {
    color: antiquewhite;
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-bottom: dashed;
    border-color: rgb(30, 40, 51);
}

img {
    float: middle;
    width: 210px;
    height: 128px;
}

@media only screen and (min-width: 625px){
        section.topBar section{
            height: 120px;
            width: 650px;
        }
    }

@media only screen and (max-width: 625px) {
    section.topBar section{
        justify-content: center;
        height: 200px;
        width: 400px;
    }
}

